.gameContainer {
  height: 100vh;
}

.topBar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
}

.timerContainer {
  display: flex;
  gap: 10px;
}

.timer {
  width: 50px;
  text-align: center;
}

.gameMap {
  position: relative;
  width: 666.5px;
  height: 1000px;
  margin: 0 auto;
  border: 5px solid rgb(39, 5, 59);
  background: #64417a;
  background: linear-gradient(
    90deg,
    rgba(100, 65, 122, 1) 0%,
    rgba(46, 39, 39, 1) 50%,
    rgba(84, 52, 87, 1) 100%
  );
}

.gameMap img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.quitBtn {
  padding: 10px;
  border-radius: 2px;
  border: 2px solid #64417a;
  font-weight: bold;
  background-color: #4a2b5e;
  cursor: pointer;
  transition: background-color 0.1s;
}

.quitBtn:hover {
  background-color: rgb(95, 35, 35);
  border-color: #641212;
}

.btn {
  padding: 10px;
  border-radius: 2px;
  border: 2px solid #64417a;
  font-weight: bold;
  background-color: #4a2b5e;
  cursor: pointer;
  transition: background-color 0.1s;
}

.dialogForm {
  display: flex;
  gap: 10px;
}

.btn:hover {
  background-color: rgb(96, 11, 109);
  border-color: #4b1264;
}

.characterContainer {
  display: flex;
  gap: 10px;
}

.characterContainer img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 99px;
}

.characterMenu {
  display: none;
  background-color: #4a2b5e;
  width: 180px;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
}

.characterMenuOption {
  display: flex;
  border: 1px solid rgb(227, 140, 227);
  padding: 5px;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 0.9rem;
  align-items: center;
}

.characterMenuOption:hover {
  background-color: rgb(227, 140, 227);
}

.characterMenuOption:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.characterMenuOption:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.characterMenuOption img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 99px;
}

.menuOff {
  display: none;
}

.menuOn {
  display: flex;
}

.wrongAnswer {
  display: none;
  background-color: #5e2b2b;
  color: #c8afaf;
  flex-direction: column;
  border: 1px solid rgb(162, 82, 82);
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  animation: fade-out 0.5s forwards ease-in;
  animation-delay: 0.5s;
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.marker {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid rgb(56, 126, 56);
  background-color: #369f3bd5;
  pointer-events: none;
}

.winScreen {
  position: absolute;
  background-color: #485d633a;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);
  justify-content: center;
}

.winForm {
  background-color: rgba(63, 71, 76);
  height: 300px;
  width: 450px;
  padding: 20px;
  text-align: center;
  border: 1px solid rgb(127, 143, 153);
  border-radius: 5px;
  margin-top: 5%;
  backdrop-filter: blur(10px);
}

.formTitle {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
}

.formDesc {
  color: rgb(211, 211, 211);
}

.formInputField {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  flex-direction: column;
}

.formInputField label {
  font-size: 0.9rem;
}

.formInputField input {
  border-radius: 5px;
  border: 1px solid rgb(127, 143, 153);
  padding: 5px;
  background-color: rgb(35, 39, 42);
  width: 100%;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnContainer button {
  border: 1px solid rgb(127, 143, 153);
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(132, 149, 160);
  cursor: pointer;
}
