.gameContainer {
  height: 100vh;
  background-color: var(--clr-surface-a0);
  overflow: scroll;
}

.topBar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
}

.timerContainer {
  display: flex;
  gap: 10px;
}

.timer {
  width: 50px;
  text-align: center;
}

.gameMap {
  position: relative;
  width: 666.5px;
  height: 1000px;
  margin: 0 auto;
  border: 5px solid var(--clr-surface-a20);
  background: var(--clr-surface-a20);
  
}

.gameMap img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.quitBtn {
  padding: 10px;
  border-radius: 2px;
  border: 2px solid var(--clr-surface-a20);
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--clr-surface-a30);
  color: var(--clr-primary-a30);
  cursor: pointer;
  transition: background-color 0.1s;
}

.quitBtn:hover {
  background-color: var(--clr-danger-a10);
  border-color: var(--clr-danger-a20);
  color: var(--clr-surface-a0);
}

.btn {
 composes: btn from '../global.css';
}

.quitDialog {
  border: 2px solid var(--clr-surface-a20);
  border-radius: 5px;
  background-color: var(--clr-surface-a10);
}

.dialogForm {
  display: flex;
  gap: 10px;
}



.characterContainer {
  display: flex;
  gap: 10px;
}

.characterContainer img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 99px;
}

.characterMenu {
  display: none;
  background-color: var(--clr-surface-a10);
  width: 180px;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
}

.characterMenuOption {
  display: flex;
  border: 1px solid var(--clr-surface-a20);
  padding: 5px;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 0.9rem;
  align-items: center;
}

.characterMenuOption:hover {
  background-color: var(--clr-primary-a0);
  color: var(--clr-surface-a0);
}

.characterMenuOption:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.characterMenuOption:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.characterMenuOption img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 99px;
}

.menuOff {
  display: none;
}

.menuOn {
  display: flex;
}

.wrongAnswer {
  display: none;
  background-color: var(--clr-danger-a10);
  color: var(--clr-surface-a0);
  flex-direction: column;
  border: 1px solid var(--clr-danger-a20);
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  animation: fade-out 0.5s forwards ease-in;
  animation-delay: 0.5s;
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.marker {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--clr-success-a10);
  background-color: var(--clr-success-a0);
  pointer-events: none;
  animation-name: grow;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

.winScreen {
  position: absolute;
  background-color: #1016177b;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);
  justify-content: center;
}

.winForm {
  background-color: var(--clr-surface-a10);
  height: 380px;
  width: 450px;
  padding: 20px;
  text-align: center;
  border: 1px solid var(--clr-surface-a20);
  border-radius: 5px;
  margin-top: 5%;
  backdrop-filter: blur(10px);
}


.winForm > img {
  height: 50px;
}

.formTitle {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
}

.formDesc {
  color: var(--clr-surface-a50);
}

.formInputField {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  padding: 2px;
  flex-direction: column;
}


.formInputField label {
  font-size: 0.9rem;
}

.formTime {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  gap: 5px;
}

.formInputField input {
  border-radius: 5px;
  border: 2px solid var(--clr-surface-a30);
  padding: 5px;
  background-color: var(--clr-surface-a20);
  width: 100%;
}

.formInputField input:focus {
  border: 2px solid var(--clr-primary-a30);
  outline: none;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnContainer button {
  padding: 10px 20px;
  width: 100%;
}

.btn {
   composes: btn from '../global.css';
}

.loadingScreen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loadingIcon {
  border-radius: 50%;
  border: 5px solid var(--clr-primary-a20);
  border-top: 5px solid var(--clr-surface-a0);
  width: 35px;
  height: 35px;
  animation: spin 0.5s ease-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (width <= 680px) {
      .gamemap {
        margin: 20px;
      }  

    .characterContainer img {
      height: 35px;
      width: 35px;
      object-fit: cover;
      border-radius: 99px;
    }

}