.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.loadingScreen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.loadingIcon {
  border-radius: 50%;
  border: 5px solid var(--clr-primary-a20);
  border-top: 5px solid var(--clr-surface-a0);
  width: 35px;
  height: 35px;
  animation: spin 0.5s ease-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.container table {
  width: 600px;

  border-collapse: collapse;
}

.container table th,
.container table td {
  border-bottom: 1px solid var(--clr-surface-a20);
  padding: 10px;
}

.container table th {
  font-weight: bold;
  color: var(--clr-primary-a30);
}

.btn{
  composes: btn from '../global.css';
  width: 600px;
  margin-top: 20px;
  padding: 20px;
  font-size: 1rem;
}
