.mainMenu {
  height: 100%;
  background-color: var(--clr-surface-a0);
}

.rulesList {
  margin: auto;
}

.title {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.btn {
  composes: btn from "../global.css";
}

.start {
}

.leaderboard {
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.rulesList {
  margin-top: 20px;
  padding: 50px;
  border: 1px solid var(--clr-surface-a20);
  list-style-position: inside;
  max-width: 400px;
  background-color: var(--clr-surface-a10);
  color: rgb(241, 241, 241);
  border-radius: 4px;
}

.rulesList p {
  color: var(--clr-primary-a30);
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--clr-surface-a20);
}

.rulesList li::marker {
  color: var(--clr-primary-a30);
  font-weight: 700;
  font-size: 1.4rem;
}

@media screen and (width <= 540px) {
  .rulesList {
    max-width: 250px;
  }
  .rulesList p {
    font-size: 1.1rem;
  }

  .rulesList li::marker {
    font-size: 1.2rem;
  }
}

@media screen and (width <= 375px) {
  .rulesList {
    max-width: 200px;
    font-size: 0.9rem;
  }

  .rulesList li::marker {
    font-size: 1.1rem;
  }
}
