.mainMenu {
  height: 100%;
  background-color: var(--clr-surface-a0);
}

.rulesList {
  margin: auto;
}

.title {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.btn {
  padding: 20px;
  border: 2px solid var(--clr-surface-a20);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.1s;
}

.btn:hover {
  background-color: var(--clr-primary-a0);
  color: var(--clr-surface-a20);
}

.start {
  background-color: var(--clr-surface-tonal-a10);
  color: var(--clr-primary-a30);
}

.leaderboard {
  background-color: var(--clr-surface-tonal-a10);
  color: var(--clr-primary-a30);
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.rulesList {
  margin-top: 20px;
  padding: 50px;
  border: 1px solid var(--clr-surface-a20);
  list-style-position: inside;
  max-width: 400px;
  background-color: var(--clr-surface-a10);
  color: rgb(241, 241, 241);
  border-radius: 4px;
}

.rulesList p {
  color: var(--clr-primary-a30);
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 0;
  border-bottom: 1px solid var(--clr-surface-a20);
}

.rulesList li::marker {
  color: var(--clr-primary-a30);
  font-weight:700;
  font-size: 1.4rem;
}
